@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    background: #ef4b4c;    
}

.contenedor-ttruco{
    display: block;
}

/* inicio contador nosotros */
.contenedor{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #ef4b4c;
    box-shadow:  7px 7px 7px #cb4041,
                -7px -7px 7px #ff5657;
}

.contar{
    font-size: 5rem;
}

.botones{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    background: white;
    border: none;
    border-radius: 5px;
}

span{
    color:#ef4b4c
}

.reset{
    width: 50px;
    height: 25px;
}

/* fin contador nosotros */

/* inicio contador ellos */

.contenedor2{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #ef4b4c;
    box-shadow:  7px 7px 7px #cb4041,
                -7px -7px 7px #ff5657;
    margin-left: 4rem;
}

.contar2{
    font-size: 5rem;
}

.botones2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color:#ef4b4c
}

.reset2{
    width: 50px;
    height: 25px;
}